@font-face {
     font-family: 'Druk';
     font-style: italic;
     font-weight: 400;
     font-display: swap;
     src: url(~/assets/fonts/DrukCondensed-XSuperItalic-Desktop.otf) format('opentype');
}

:root {
     --colorRed: #D80E22;
     --colorOrange: #FF5D0C;
     --colorYellow: #F8D62F;
     --colorDark: #000;
     --colorLight: #fff;
}

html * {
     font-family: Helvetica, Arial, sans-serif;
     box-sizing: border-box;

}

body{
     background-color: var(--colorDark);
}

.btn {
     width: 100%;
     z-index: 1050;
     padding: 0.744vw;
     background-color: var(--colorDark);
     color: var(--colorLight);
     text-align: center;
 
     font-family: 'Helvetica Neue';
     font-style: normal;
     font-weight: 400;
     font-size: 1.116vw;
     line-height: 107%;
     border-radius: 1.786vw;
     margin-top: 0.372vw;
     cursor: pointer;
     border: 0;
 
 }
 
 .btn:hover {
     background-color: var(--colorLight);
     color: var(--colorDark);
 }